h1{
    color: black;
    text-align: center;
    font-size: 50px;
}

input[type=text]{
    width: 80%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit]{
    width: 80%;
    background: YellowGreen;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;
}

body{
    background:darkgrey;
    color: black;
    padding: 20px;
}

