h2 {
    color: darkgrey;
    text-align: center;
    font-size: 50px;
}

input[type=text]{
    width:75%;
    padding: 8px 8px;
    margin: 10px 0;

}

input[type=submit]{
    width: 50%;
    background-color: green;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;
}

body{
    background: whitesmoke;
    padding: 20px;

}